pug/about.pug

extends includes/main
include includes/mixins

append variables
	- var title = 'about'




block main

	//|=================================== Wallpaper ===================================|
	.wallpaper
		img.wallpaper_img(src="img/wallpaper_about.jpg")

		.container.wallpaper_capt
			.wallpaper_ttl О КОМПАНИИ
			|
			|
			ul.wallpaper_bread
				li
					a(href="") ГЛАВНАЯ

				li О КОМПАНИИ

		//|========== Wallpaper ==========|
	|
	|
	|



	//|=================================== About Interest ===================================|
	.about_int_sec
		.container
			.interest
				.interest_ttl
					+base_title_sm О нас

					+base_title_lg Все, что может Вас #[br] заинтересовать о нас
				|
				|
				.interest_cnt
					p.
						Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен. Дискретность амбивалентно транспонирует гравитационный парадокс. Импликация, следовательно, контролирует бабувизм, открывая новые г

					p.
						Отсюда естественно следует, что автоматизация дискредитирует предмет деятельности. Дискретность амбивалентно транспонирует гравитационный парадокс. Гедонизм осмысляет дедуктивный метод. Дедуктивный метод решительно представляет собой бабувизм. Гедонизм осмысляет дедуктивный метод. Смысл жизни, следовательно, творит данный закон вн


					p.
						Сомнение рефлектирует естественный закон исключённого третьего.. Смысл жизни, следовательно, творит данный закон внешнего мира. Согласно мнению известных философов, дедуктивный метод естественно порождает и обеспечивает мир, tertium nоn datur. Структурализм абстрактен. Надстройка нетривиальна. Импликация, сл

					p.
						Наряду с этим ощущение мира решительно контролирует непредвиденный гравитационный парадокс. Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты. Отсюда естественно следует, что автоматизация дискредитирует предмет деятельности.

		//|========== About Interest ==========|
	|
	|
	|



	//|=================================== About Statistics ===================================|
	.about_stat_sec(style="background-image: url('img/about_statistics.jpg');")
		.container
			.about_stat
				+base_title_lg('about_stat_ttl') Делаем правильный вещи, #[br] в нужное время.
				|
				|
				.about_stat_cnt
					ul.about_stat_ls

						-
							var aboutStats = [
								{
									'value': '15',
									'text': 'НАПРАВЛЕНИЙ',
								},
								{
									'value': '50',
									'text': 'ТУРОВ',
								},
								{
									'value': '860+',
									'text': 'КЛИЕНТОВ',
								},
								{
									'value': '12',
									'text': 'СОТРУДНИКОВ',
								},
							]

						each item in aboutStats
							li
								.val= item.value
								.txt= item.text
		//|========== About Statistics ==========|
	|
	|
	|



	//|=================================== About Mission ===================================|
	.about_miss_sec
		.container
			.about_miss
				.row
					.col-lg-5.mb-4.mb-lg-0
						.about_miss_name.
							Наша миссия, предоставить
							лучший комфорт и условия
							для вашего отдыха.
					|
					|
					.col-lg-7
						.about_miss_txt.
							Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен. Дискретность амбивалентно транспонирует гравитационный парадокс. Отсюда естественно следует, что автоматизация дискредитирует предмет деятельности.

		//|========== About Mission ==========|
	|
	|
	|



	//|=================================== Partner ===================================|
	.partner_sec.about_part_sec
		.container
			.partner_bnr_bx
				.partner_bnr

					-
						var partner_list = [
							'img/home_partner_1.png',
							'img/home_partner_2.png',
							'img/home_partner_3.png',
							'img/home_partner_4.png',
							'img/home_partner_5.png',
						]
					-for (i = 0; i < 2; i++)
						each item in partner_list
							.partner_bnr_it
								img(src=item)
				|
				|

				.partner_bnr_nav
					.partner_bnr_btn.fx-c.prev
						i.fa.fa-angle-left
					|
					.partner_bnr_btn.fx-c.next
						i.fa.fa-angle-right
		//|========== Partner ==========|
	|
	|
	|















	//- |=================================== Something ===================================|
	//- |========== Something ==========|


	//- |____________________ Something ____________________|
	//- |__________ Something __________|
	

about.html
<!DOCTYPE html>
<html>
	<head>
		<title>about</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
		
		
		<!--|____________________ Website description ____________________|-->
		<meta name="description" content="This is my website">
		<meta name="keywords" content="Website, My">
		<meta name="author" content="Azizbek Iskandarov">
		
		
		<!--|____________________ Favicon ____________________|-->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
		
		
		<!--|____________________ Libraries ____________________|-->
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="lib/font_awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="lib/owl_carousel/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="lib/owl_carousel/owl.transitions.css">
		<link rel="stylesheet" type="text/css" href="lib/slick/slick.css">
		
		
		<!--|____________________ Styles ____________________|-->
		<link rel="stylesheet" type="text/css" href="css/main.min.css">
		<link rel="stylesheet" type="text/css" href="css/responsive.min.css">
		<link rel="stylesheet" type="text/css" href="css/ie.min.css">
	</head>
	<body>
		<!--|____________________ Internet Explorer ____________________|-->
		<!--[if IE]>
		<div class="ie_bx">
			<h2>You are using the old version of Internet Explorer</h2>
			<h2>Please, download Google Chrome for better performance!</h2>
			<h2><a href="https://www.google.com/chrome/">https://www.google.com/chrome/</a></h2>
		</div>
		<div class="ie_bg"></div>
		<![endif]-->
		<!--|__________ Internet Explorer __________|-->
		
		
		
		<!--|************************************************** Header **************************************************|-->
		<header class="header">
			<div class="hdr_fixed">
				<!--|=================================== Header Top ===================================|-->
				<div class="hdr_top_bx">
					<div class="container">
						<div class="hdr_top">
							<div class="hdr_top_left">
								<div class="hdr_logo"><a href=""><img src="img/logo.png"></a></div>
								<div class="hdr_capt">Агенство медицинского <br> туризма</div>
							</div>
							
							<div class="hdr_top_right">
								<div class="hdr_ctt">
									<div class="hdr_ctt_tel"><a href="tel:+8(495)7214114">+8 (495) <strong>721 41 14</strong></a></div>
									<div class="hdr_ctt_email"><a href="mailto:support@wpmed.ru">support@wpmed.ru</a></div>
								</div>
								<div class="hdr_ctt_btn"><a class="base_btn border_red" href="" data-toggle="modal" data-target="#modalContact">Связаться с нами</a>
								</div>
							</div>
						</div>
					</div>
					<!--|========== Header Top ==========|-->
				</div>
				
				
				<!--|=================================== Header Navigation ===================================|-->
				<div class="nav_sec">
					<div class="container">
						<div class="nav_bx">
							<!--|____________________ Navigation Menu ____________________|-->
							<div class="nav_menu">
								<ul class="nav_menu_ls">
									<li class="active"><a href="">Главная</a></li>
									<li><a href="">Медицинский туризм</a></li>
									<li><a href="">ПАРТНЕРЫ</a></li>
									<li><a href="">О компании</a></li>
									<li><a href="">Контакты</a></li>
								</ul>
								<!--|__________ Navigation Menu __________|-->
							</div>
							
							<!--|____________________ Navigation Button ____________________|-->
							<button class="nav_menu_btn fx-c" type="button"><span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
								
							</button>
							
							<!--|____________________ Navigation Background ____________________|-->
							<div class="nav_menu_bg"></div>
							
							
							<div class="nav_scl">
								<div class="nav_scl_txt">Мы в соц. сетях:</div>
								<ul class="nav_scl_ls">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-instagram"></i></a></li>
									<li><a href=""><i class="fa fa-vk"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!--|========== Header Navigation ==========|-->
				</div>
			</div>
			<!--|********** Header **********|-->
		</header>
		
		
		
		<!--|************************************************** Main **************************************************|-->
		<main class="main">
			<!--|=================================== Wallpaper ===================================|-->
			<div class="wallpaper"><img class="wallpaper_img" src="img/wallpaper_about.jpg">
				<div class="container wallpaper_capt">
					<div class="wallpaper_ttl">О КОМПАНИИ</div>
					
					<ul class="wallpaper_bread">
						<li><a href="">ГЛАВНАЯ</a></li>
						<li>О КОМПАНИИ</li>
					</ul>
				</div>
				<!--|========== Wallpaper ==========|-->
			</div>
			
			
			<!--|=================================== About Interest ===================================|-->
			<div class="about_int_sec">
				<div class="container">
					<div class="interest">
						<div class="interest_ttl">
							<h4 class="base_title_sm">О нас
							</h4>
							<h2 class="base_title_lg">Все, что может Вас <br> заинтересовать о нас
							</h2>
						</div>
						
						<div class="interest_cnt">
							<p>
								Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен. Дискретность амбивалентно транспонирует гравитационный парадокс. Импликация, следовательно, контролирует бабувизм, открывая новые г
								
							</p>
							<p>
								Отсюда естественно следует, что автоматизация дискредитирует предмет деятельности. Дискретность амбивалентно транспонирует гравитационный парадокс. Гедонизм осмысляет дедуктивный метод. Дедуктивный метод решительно представляет собой бабувизм. Гедонизм осмысляет дедуктивный метод. Смысл жизни, следовательно, творит данный закон вн
								
								
							</p>
							<p>
								Сомнение рефлектирует естественный закон исключённого третьего.. Смысл жизни, следовательно, творит данный закон внешнего мира. Согласно мнению известных философов, дедуктивный метод естественно порождает и обеспечивает мир, tertium nоn datur. Структурализм абстрактен. Надстройка нетривиальна. Импликация, сл
								
							</p>
							<p>
								Наряду с этим ощущение мира решительно контролирует непредвиденный гравитационный парадокс. Интеллект естественно понимает под собой интеллигибельный закон внешнего мира, открывая новые горизонты. Отсюда естественно следует, что автоматизация дискредитирует предмет деятельности.
								
							</p>
						</div>
					</div>
				</div>
				<!--|========== About Interest ==========|-->
			</div>
			
			
			<!--|=================================== About Statistics ===================================|-->
			<div class="about_stat_sec" style="background-image: url('img/about_statistics.jpg');">
				<div class="container">
					<div class="about_stat">
						<h2 class="base_title_lg about_stat_ttl">Делаем правильный вещи, <br> в нужное время.
						</h2>
						
						<div class="about_stat_cnt">
							<ul class="about_stat_ls">
								<li>
									<div class="val">15</div>
									<div class="txt">НАПРАВЛЕНИЙ</div>
								</li>
								<li>
									<div class="val">50</div>
									<div class="txt">ТУРОВ</div>
								</li>
								<li>
									<div class="val">860+</div>
									<div class="txt">КЛИЕНТОВ</div>
								</li>
								<li>
									<div class="val">12</div>
									<div class="txt">СОТРУДНИКОВ</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--|========== About Statistics ==========|-->
			</div>
			
			
			<!--|=================================== About Mission ===================================|-->
			<div class="about_miss_sec">
				<div class="container">
					<div class="about_miss">
						<div class="row">
							<div class="col-lg-5 mb-4 mb-lg-0">
								<div class="about_miss_name">
									Наша миссия, предоставить
									лучший комфорт и условия
									для вашего отдыха.
								</div>
							</div>
							
							<div class="col-lg-7">
								<div class="about_miss_txt">
									Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен. Дискретность амбивалентно транспонирует гравитационный парадокс. Отсюда естественно следует, что автоматизация дискредитирует предмет деятельности.
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--|========== About Mission ==========|-->
			</div>
			
			
			<!--|=================================== Partner ===================================|-->
			<div class="partner_sec about_part_sec">
				<div class="container">
					<div class="partner_bnr_bx">
						<div class="partner_bnr">
							<div class="partner_bnr_it"><img src="img/home_partner_1.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_2.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_3.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_4.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_5.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_1.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_2.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_3.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_4.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_5.png"></div>
						</div>
						
						<div class="partner_bnr_nav">
							<div class="partner_bnr_btn fx-c prev"><i class="fa fa-angle-left"></i></div>
							<div class="partner_bnr_btn fx-c next"><i class="fa fa-angle-right"></i></div>
						</div>
					</div>
				</div>
				<!--|========== Partner ==========|-->
			</div>
			
			
			<!--|********** Main **********|-->
		</main>
		
		
		
		<!--|************************************************** Footer **************************************************|-->
		<footer class="footer">
			<div class="container">
				<div class="foot_it_bx">
					<div class="foot_it">
						<div class="foot_logo_bx">
							<div class="foot_logo"><a href=""><img src="img/logo.png"></a></div>
							<div class="foot_logo_capt">Ветер Перемен. 2018. &copy; Все права сохранены.</div>
						</div>
					</div>
					
					<div class="foot_it">
						<ul class="foot_contact">
							<li><i class="fa fa-map-marker"></i><span class="txt">127427, Москва, ул. Академика Королева, <br> дом 15, корп. 2</span></li>
							<li><i class="fa fa-phone"></i><span class="txt">+8 (967) 291 8553 , +8 (495) 721 4114</span></li>
							<li><i class="fa fa-envelope"></i><span class="txt">veterperemen2019@mail.ru</span></li>
						</ul>
					</div>
					
					<div class="foot_it">
						<ul class="foot_menu">
							<li><a href="">Медицинский туризм</a></li>
							<li><a href="">Партнеры</a></li>
							<li><a href="">О компании</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</div>
					
					<div class="foot_it">
						<div class="foot_scl_bx">
							<div class="foot_scl">
								<div class="foot_scl_txt">Мы в соц. сетях</div>
								<ul class="foot_scl_ls">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-instagram"></i></a></li>
									<li><a href=""><i class="fa fa-vk"></i></a></li>
								</ul>
							</div>
							
							<div class="foot_made">
								Создано в
								<a href="">Smart Outsourcing Solutions</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--|********** Footer **********|-->
		</footer>
		
		
		<!--|____________________ Anchor ____________________|-->
		<button class="anchor" type="button"><i class="fa fa-angle-up"></i><span class="txt">вверх</span></button>
		
		
		<!--|____________________ Modal Contact ____________________|-->
		<div class="modal fade base_modal" id="modalContact">
			<div class="modal-dialog">
				<div class="modal-content">
					<!--|=================================== Modal Core ===================================|-->
					<div class="base_modal_cnt core active">
						<form>
							
							
							<div class="base_modal_cls_bx">
								<button class="base_modal_cls" data-dismiss="modal"><i class="fa fa-times"></i></button>
							</div>
							
							<div class="base_modal_hd">
								<div class="base_modal_ttl">Свяжитесь с нами</div>
										<div class="title_line_bx base_modal_ttl_line">
											<div class="title_line"></div>
										</div>
								<p class="base_modal_ttl_capt">Внимание, все поля обязательны для заполнения. С вами свяжется наш менеджер.</p>
							</div>
							
							
							<div class="base_modal_bd">
								<div class="form-group">
									<label>Имя</label>
									<input class="cmt_leave_inp" type="text">
								</div>
								
								<div class="form-group">
									<label>Телефон</label>
									<input class="cmt_leave_inp" type="tel">
								</div>
								
								<div class="form-group">
									<label>Email</label>
									<input class="cmt_leave_inp" type="email">
								</div>
								
								<div class="form-group">
									<label>Направление</label>
									<div class="mdl_select">
										<select class="cmt_leave_inp">
											<option>Выберите направление</option>
											<option>Выберите направление</option>
											<option>Выберите направление</option>
										</select><i class="fa fa-angle-down"></i>
									</div>
								</div>
								
								<div class="form-group">
									<label>Цель отдыха</label>
									<div class="mdl_select">
										<select class="cmt_leave_inp">
											<option>Выберите направление</option>
										</select><i class="fa fa-angle-down"></i>
									</div>
								</div>
							</div>
							
							
							<div class="base_modal_ft">
										<button class="base_btn base_modal_btn border_red" type="submit" data-send-form="">Отправить заявку
										</button>
								<p class="base_modal_terms">Нажимая кнопку “Отправить заявку”, вы даете согласие на обработку ваших персональных данных.</p>
							</div>
						</form>
						<!--|========== Modal Core ==========|-->
					</div>
					
					
					<!--|=================================== Modal Thanks ===================================|-->
					<div class="base_modal_cnt thank">
						
						
						<div class="base_modal_cls_bx">
							<button class="base_modal_cls" data-dismiss="modal"><i class="fa fa-times"></i></button>
						</div>
						
						<div class="base_modal_thk_txt">
							<div class="base_modal_ttl thank">Спасибо за заявку!</div>
							<div class="base_modal_thk_info">Апостериори, гравитационный парадокс амбивалентно понимает под собой интеллигибельный знак. Наряду с этим ощущение мира контролирует непредвиденный гравитационный парадокс.</div>
							<div class="base_modal_thk_btn"><a class="base_btn base_modal_btn border_red thank" href="" data-dismiss="modal">Закрыть форму</a>
							</div>
						</div>
						
						
						<div class="base_modal_thk_img"><img src="img/form_submitted.png"></div>
						<!--|========== Modal Thanks ==========|-->
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<!--|************************************************** JavaScript Plugins **************************************************|-->
		
		<!--|____________________ Jquery ____________________|-->
		<script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
		
		
		<!--|____________________ Libraries ____________________|-->
		<script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="lib/owl_carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="lib/slick/slick.min.js"></script>
		
		
		<!--|____________________ Scripts ____________________|-->
		<script type="text/javascript" src="js/custom.js"></script>
	</body>
</html>
