contact.html
<!DOCTYPE html>
<html>
	<head>
		<title>contact</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
		
		
		<!--|____________________ Website description ____________________|-->
		<meta name="description" content="This is my website">
		<meta name="keywords" content="Website, My">
		<meta name="author" content="Azizbek Iskandarov">
		
		
		<!--|____________________ Favicon ____________________|-->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
		
		
		<!--|____________________ Libraries ____________________|-->
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="lib/font_awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="lib/owl_carousel/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="lib/owl_carousel/owl.transitions.css">
		<link rel="stylesheet" type="text/css" href="lib/slick/slick.css">
		
		
		<!--|____________________ Styles ____________________|-->
		<link rel="stylesheet" type="text/css" href="css/main.min.css">
		<link rel="stylesheet" type="text/css" href="css/responsive.min.css">
		<link rel="stylesheet" type="text/css" href="css/ie.min.css">
	</head>
	<body>
		<!--|____________________ Internet Explorer ____________________|-->
		<!--[if IE]>
		<div class="ie_bx">
			<h2>You are using the old version of Internet Explorer</h2>
			<h2>Please, download Google Chrome for better performance!</h2>
			<h2><a href="https://www.google.com/chrome/">https://www.google.com/chrome/</a></h2>
		</div>
		<div class="ie_bg"></div>
		<![endif]-->
		<!--|__________ Internet Explorer __________|-->
		
		
		
		<!--|************************************************** Header **************************************************|-->
		<header class="header">
			<div class="hdr_fixed">
				<!--|=================================== Header Top ===================================|-->
				<div class="hdr_top_bx">
					<div class="container">
						<div class="hdr_top">
							<div class="hdr_top_left">
								<div class="hdr_logo"><a href=""><img src="img/logo.png"></a></div>
								<div class="hdr_capt">Агенство медицинского <br> туризма</div>
							</div>
							
							<div class="hdr_top_right">
								<div class="hdr_ctt">
									<div class="hdr_ctt_tel"><a href="tel:+8(495)7214114">+8 (495) <strong>721 41 14</strong></a></div>
									<div class="hdr_ctt_email"><a href="mailto:support@wpmed.ru">support@wpmed.ru</a></div>
								</div>
								<div class="hdr_ctt_btn"><a class="base_btn border_red" href="" data-toggle="modal" data-target="#modalContact">Связаться с нами</a>
								</div>
							</div>
						</div>
					</div>
					<!--|========== Header Top ==========|-->
				</div>
				
				
				<!--|=================================== Header Navigation ===================================|-->
				<div class="nav_sec">
					<div class="container">
						<div class="nav_bx">
							<!--|____________________ Navigation Menu ____________________|-->
							<div class="nav_menu">
								<ul class="nav_menu_ls">
									<li class="active"><a href="">Главная</a></li>
									<li><a href="">Медицинский туризм</a></li>
									<li><a href="">ПАРТНЕРЫ</a></li>
									<li><a href="">О компании</a></li>
									<li><a href="">Контакты</a></li>
								</ul>
								<!--|__________ Navigation Menu __________|-->
							</div>
							
							<!--|____________________ Navigation Button ____________________|-->
							<button class="nav_menu_btn fx-c" type="button"><span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
								
							</button>
							
							<!--|____________________ Navigation Background ____________________|-->
							<div class="nav_menu_bg"></div>
							
							
							<div class="nav_scl">
								<div class="nav_scl_txt">Мы в соц. сетях:</div>
								<ul class="nav_scl_ls">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-instagram"></i></a></li>
									<li><a href=""><i class="fa fa-vk"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!--|========== Header Navigation ==========|-->
				</div>
			</div>
			<!--|********** Header **********|-->
		</header>
		
		
		
		<!--|************************************************** Main **************************************************|-->
		<main class="main">
			<!--|=================================== Wallpaper ===================================|-->
			<div class="wallpaper"><img class="wallpaper_img" src="img/wallpaper_contact.jpg">
				<div class="container wallpaper_capt">
					<div class="wallpaper_ttl">КОНТАКТЫ</div>
					
					<ul class="wallpaper_bread">
						<li><a href="">ГЛАВНАЯ</a></li>
						<li>КОНТАКТЫ</li>
					</ul>
				</div>
				<!--|========== Wallpaper ==========|-->
			</div>
			
			
			<!--|=================================== Contact ===================================|-->
			<div class="contact_sec">
				<div class="container">
					<div class="contact">
						<div class="contact_ttl">
							<h4 class="base_title_sm contact_ttl_sm">НАШИ КОНТАКТЫ
							</h4>
							<h2 class="base_title_lg contact_ttl_lg">Свяжитесь с нами
							</h2>
							<div class="title_line_bx contact_ttl_line">
								<div class="title_line"></div>
							</div>
						</div>
						
						<div class="contact_cnt">
							<div class="row">
								<div class="col-lg-4">
									<div class="contact_info_bx">
										<div class="contact_info">
											<div class="contact_info_txt">
												Созерцание непредсказуемо. Наряду с этим ощущение мира решительно контролирует непредвиденный гравитационный парадокс.
												
											</div>
											<ul class="contact_info_ls">
												<li>
													<div class="txt">Адрес</div>
													<div class="val">127427, Москва, ул. Академика Королева, дом 15, корп. 2</div>
												</li>
												<li>
													<div class="txt">Телефон</div>
													<div class="val">+8 (967) 291 8553<br>+8 (495) 721 4114
													</div>
												</li>
												<li>
													<div class="txt">Email</div>
													<div class="val info">veterperemen2019@mail.ru</div>
												</li>
											</ul>
										</div>
										
										<div class="contact_scl">
											<div class="contact_scl_ttl">Мы в соц. сетях</div>
											<ul class="contact_scl_ls">
												<li><a href=""><i class="fa fa-facebook"></i></a></li>
												<li><a href=""><i class="fa fa-twitter"></i></a></li>
												<li><a href=""><i class="fa fa-instagram"></i></a></li>
												<li><a href=""><i class="fa fa-paper-plane"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								
								<div class="col-lg-8">
									<div class="contact_form">
										<form>
											
											
											<div class="row">
												<div class="form-group col-sm-6">
													<div class="cmt_leave_lbl">Имя</div>
													<input class="cmt_leave_inp">
												</div>
												<div class="form-group col-sm-6">
													<div class="cmt_leave_lbl">Компания</div>
													<input class="cmt_leave_inp">
												</div>
											</div>
											
											<div class="row">
												<div class="form-group col-sm-6">
													<div class="cmt_leave_lbl">Телефон</div>
													<input class="cmt_leave_inp">
												</div>
												<div class="form-group col-sm-6">
													<div class="cmt_leave_lbl">Email</div>
													<input class="cmt_leave_inp">
												</div>
											</div>
											
											<div class="form-group">
												<div class="cmt_leave_lbl">Сообщение</div>
												<textarea class="cmt_leave_inp txtarea" rows="4"></textarea>
											</div>
											
											<div class="contact_form_btn">
												<button class="base_btn border_red" type="submit">Отправить отзыв
												</button>
											</div>
											
											<div class="contact_form_capt">
												<div class="cmt_leave_capt">Нажимая кнопку “Отправить отзыв”, вы даете согласие на обработку ваших персональных данных.</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--|========== Contact ==========|-->
			</div>
			
			
			<!--|=================================== Contact Map ===================================|-->
			<div class="contact_map"><img class="contact_map_img" src="img/contact_map.jpg">
				<!--|========== Contact Map ==========|-->
			</div>
			
			
			<!--|********** Main **********|-->
		</main>
		
		
		
		<!--|************************************************** Footer **************************************************|-->
		<footer class="footer">
			<div class="container">
				<div class="foot_it_bx">
					<div class="foot_it">
						<div class="foot_logo_bx">
							<div class="foot_logo"><a href=""><img src="img/logo.png"></a></div>
							<div class="foot_logo_capt">Ветер Перемен. 2018. &copy; Все права сохранены.</div>
						</div>
					</div>
					
					<div class="foot_it">
						<ul class="foot_contact">
							<li><i class="fa fa-map-marker"></i><span class="txt">127427, Москва, ул. Академика Королева, <br> дом 15, корп. 2</span></li>
							<li><i class="fa fa-phone"></i><span class="txt">+8 (967) 291 8553 , +8 (495) 721 4114</span></li>
							<li><i class="fa fa-envelope"></i><span class="txt">veterperemen2019@mail.ru</span></li>
						</ul>
					</div>
					
					<div class="foot_it">
						<ul class="foot_menu">
							<li><a href="">Медицинский туризм</a></li>
							<li><a href="">Партнеры</a></li>
							<li><a href="">О компании</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</div>
					
					<div class="foot_it">
						<div class="foot_scl_bx">
							<div class="foot_scl">
								<div class="foot_scl_txt">Мы в соц. сетях</div>
								<ul class="foot_scl_ls">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-instagram"></i></a></li>
									<li><a href=""><i class="fa fa-vk"></i></a></li>
								</ul>
							</div>
							
							<div class="foot_made">
								Создано в
								<a href="">Smart Outsourcing Solutions</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--|********** Footer **********|-->
		</footer>
		
		
		<!--|____________________ Anchor ____________________|-->
		<button class="anchor" type="button"><i class="fa fa-angle-up"></i><span class="txt">вверх</span></button>
		
		
		<!--|____________________ Modal Contact ____________________|-->
		<div class="modal fade base_modal" id="modalContact">
			<div class="modal-dialog">
				<div class="modal-content">
					<!--|=================================== Modal Core ===================================|-->
					<div class="base_modal_cnt core active">
						<form>
							
							
							<div class="base_modal_cls_bx">
								<button class="base_modal_cls" data-dismiss="modal"><i class="fa fa-times"></i></button>
							</div>
							
							<div class="base_modal_hd">
								<div class="base_modal_ttl">Свяжитесь с нами</div>
										<div class="title_line_bx base_modal_ttl_line">
											<div class="title_line"></div>
										</div>
								<p class="base_modal_ttl_capt">Внимание, все поля обязательны для заполнения. С вами свяжется наш менеджер.</p>
							</div>
							
							
							<div class="base_modal_bd">
								<div class="form-group">
									<label>Имя</label>
									<input class="cmt_leave_inp" type="text">
								</div>
								
								<div class="form-group">
									<label>Телефон</label>
									<input class="cmt_leave_inp" type="tel">
								</div>
								
								<div class="form-group">
									<label>Email</label>
									<input class="cmt_leave_inp" type="email">
								</div>
								
								<div class="form-group">
									<label>Направление</label>
									<div class="mdl_select">
										<select class="cmt_leave_inp">
											<option>Выберите направление</option>
											<option>Выберите направление</option>
											<option>Выберите направление</option>
										</select><i class="fa fa-angle-down"></i>
									</div>
								</div>
								
								<div class="form-group">
									<label>Цель отдыха</label>
									<div class="mdl_select">
										<select class="cmt_leave_inp">
											<option>Выберите направление</option>
										</select><i class="fa fa-angle-down"></i>
									</div>
								</div>
							</div>
							
							
							<div class="base_modal_ft">
										<button class="base_btn base_modal_btn border_red" type="submit" data-send-form="">Отправить заявку
										</button>
								<p class="base_modal_terms">Нажимая кнопку “Отправить заявку”, вы даете согласие на обработку ваших персональных данных.</p>
							</div>
						</form>
						<!--|========== Modal Core ==========|-->
					</div>
					
					
					<!--|=================================== Modal Thanks ===================================|-->
					<div class="base_modal_cnt thank">
						
						
						<div class="base_modal_cls_bx">
							<button class="base_modal_cls" data-dismiss="modal"><i class="fa fa-times"></i></button>
						</div>
						
						<div class="base_modal_thk_txt">
							<div class="base_modal_ttl thank">Спасибо за заявку!</div>
							<div class="base_modal_thk_info">Апостериори, гравитационный парадокс амбивалентно понимает под собой интеллигибельный знак. Наряду с этим ощущение мира контролирует непредвиденный гравитационный парадокс.</div>
							<div class="base_modal_thk_btn"><a class="base_btn base_modal_btn border_red thank" href="" data-dismiss="modal">Закрыть форму</a>
							</div>
						</div>
						
						
						<div class="base_modal_thk_img"><img src="img/form_submitted.png"></div>
						<!--|========== Modal Thanks ==========|-->
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<!--|************************************************** JavaScript Plugins **************************************************|-->
		
		<!--|____________________ Jquery ____________________|-->
		<script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
		
		
		<!--|____________________ Libraries ____________________|-->
		<script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="lib/owl_carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="lib/slick/slick.min.js"></script>
		
		
		<!--|____________________ Scripts ____________________|-->
		<script type="text/javascript" src="js/custom.js"></script>
	</body>
</html>

pug/contact.pug

extends includes/main
include includes/mixins

append variables
	- var title = 'contact'




block main

	//|=================================== Wallpaper ===================================|
	.wallpaper
		img.wallpaper_img(src="img/wallpaper_contact.jpg")

		.container.wallpaper_capt
			.wallpaper_ttl КОНТАКТЫ
			|
			|
			ul.wallpaper_bread
				li
					a(href="") ГЛАВНАЯ

				li КОНТАКТЫ

		//|========== Wallpaper ==========|
	|
	|
	|



	//|=================================== Contact ===================================|
	.contact_sec
		.container
			.contact
				.contact_ttl
					+base_title_sm('contact_ttl_sm') НАШИ КОНТАКТЫ
					+base_title_lg('contact_ttl_lg') Свяжитесь с нами
					+title_line('contact_ttl_line')
				|
				|
				.contact_cnt
					.row
						.col-lg-4
							.contact_info_bx
								|
								.contact_info
									.contact_info_txt.
										Созерцание непредсказуемо. Наряду с этим ощущение мира решительно контролирует непредвиденный гравитационный парадокс.

									ul.contact_info_ls

										-
											var contactInfo = [
												{
													'text': 'Адрес',
													'value': '127427, Москва, ул. Академика Королева, дом 15, корп. 2',
												},
												{
													'text': 'Телефон',
													'value': [
														'+8 (967) 291 8553',
														'+8 (495) 721 4114',
													],
												},
												{
													'text': 'Email',
													'value': 'veterperemen2019@mail.ru',
												},
											]
										each item1, index1 in contactInfo
											if (index1 === 1)
												li
													.txt= item1.text
													.val
														each item2, index2 in item1.value
															if (index2 !== 0)
																br
															| #{item2}
											else if	(index1 === 2)
												li
													.txt= item1.text
													.val.info= item1.value
											else
												li
													.txt= item1.text
													.val= item1.value
								|
								|
								.contact_scl
									.contact_scl_ttl Мы в соц. сетях

									ul.contact_scl_ls

										-
											var contactSocial = [
												'fa-facebook',
												'fa-twitter',
												'fa-instagram',
												'fa-paper-plane',
											]
										each item in contactSocial
											li
												a(href="")
													i.fa(class=item)
						|
						|
						.col-lg-8
							.contact_form
								form
									|
									|
									.row
										.form-group.col-sm-6
											.cmt_leave_lbl Имя
											input.cmt_leave_inp

										.form-group.col-sm-6
											.cmt_leave_lbl Компания
											input.cmt_leave_inp
									|
									|
									.row
										.form-group.col-sm-6
											.cmt_leave_lbl Телефон
											input.cmt_leave_inp

										.form-group.col-sm-6
											.cmt_leave_lbl Email
											input.cmt_leave_inp
									|
									|
									.form-group
										.cmt_leave_lbl Сообщение
										textarea.cmt_leave_inp.txtarea(rows="4")
									|
									|
									.contact_form_btn
										+base_button('border_red', false) Отправить отзыв
									|
									|
									.contact_form_capt
										.cmt_leave_capt Нажимая кнопку “Отправить отзыв”, вы даете согласие на обработку ваших персональных данных.

		//|========== Contact ==========|
	|
	|
	|



	//|=================================== Contact Map ===================================|
	.contact_map
		img.contact_map_img(src="img/contact_map.jpg")

		//|========== Contact Map ==========|
	|
	|
	|















	//- |=================================== Something ===================================|
	//- |========== Something ==========|


	//- |____________________ Something ____________________|
	//- |__________ Something __________|
	
