pug/index.pug

extends includes/main
include includes/mixins

append variables
	- var title = 'index'




block main

	//|=================================== Banner ===================================|
	.banner_sec
		.banner_bx
			.banner

				-for (i = 0; i < 3; i++)
					.banner_it
						img.banner_img(src="img/home_banner.jpg")

						.container.banner_capt_bx
							|
							|
							a.banner_capt(href="")
								.banner_capt_ttl Путешествие длиною в жизнь

								.banner_capt_cnt.
									Созерцание непредсказуемо. Смысл жизни, следовательно, творит данный
									закон внешнего мира. Созерцание непредсказуемо. Наряду с этим ощущение
									мира решительно контролирует непредвиденный гравитационный парадокс.
					|
					|
			|
			|


			.banner_nav
				.banner_btn.fx-c.prev
					i.fa.fa-angle-left

				.banner_btn.fx-c.next
					i.fa.fa-angle-right
			|
			|


			a.banner_mouse(href="")
				img(src="img/home_banner_mouse.png")
		//|========== Banner ==========|
	|
	|
	|


	//|=================================== Advantage ===================================|
	.advantage_sec
		.advantage.bg-cover(style={"background-image": "url('img/home_advantage_bg.jpg')"})
			.advantage_ttl_bx
				.container
					.advantage_ttl
						+base_title_sm НАШИ ПРЕИМУЩЕСТВА

						+base_title_lg То, что нас выделяет
			|
			|

			.advantage_cnt_bx
				.container
					.advantage_cnt
						-
							var advantage_list = [
								{
									'image': 'img/home_advantage_1.png',
									'name': 'Свобода действий',
									'text': 'Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.',
								},
								{
									'image': 'img/home_advantage_2.png',
									'name': '«Умная» экономия',
									'text': 'Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.',
								},
								{
									'image': 'img/home_advantage_3.png',
									'name': 'Колорит путешествия',
									'text': 'Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.',
								},
								{
									'image': 'img/home_advantage_4.png',
									'name': 'Путешествие ДЛЯ ЗДОРОВЬЯ',
									'text': 'Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.',
								},
								{
									'image': 'img/home_advantage_5.png',
									'name': 'ОФОРМЛЕНИЕ ВИЗ И ТРАНСФЕРОВ',
									'text': 'Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.',
								},
								{
									'image': 'img/home_advantage_6.png',
									'name': 'ПОДБОР ЛУЧШИХ ЦЕН',
									'text': 'Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.',
								},
							]

						-for(i = 0; i < advantage_list.length; i++)
							.row.advantage_row
								+advantage_complex_item(advantage_list[i])
								|
								|

								if (i + 1 < advantage_list.length)
									-i++

									+advantage_complex_item(advantage_list[i])
							|
							|
		//|========== Advantage ==========|
	|
	|
	|


	//|=================================== Tourism ===================================|
	.tourism_sec
		.tourism_bg
			img(src="img/home_tourism_bg.jpg")

		.container
			.tourism_bx
				.tourism
					.tourism_hd
						+base_title_sm Информация о медицинском туризме

						+base_title_lg Что такое мед. туризм?
					|
					|
					.tourism_bd
						p.
							Созерцание непредсказуемо. Смысл жизни, следовательно, творит данный закон
							внешнего мира. Созерцание непредсказуемо. Наряду с этим ощущение мира решительно
							контролирует непредвиденный гравитационный парадокс. Дискретность амбивалентно
							транспонирует гравитационный парадокс. Дискретность амбивалентно транспонирует
							гравитационный парадок

						p.
							Смысл жизни, следовательно, творит данный закон внешнего мира. Гедонизм осмысляет
							дедуктивный метод. Дедуктивный метод решительно представляет собой бабувизм. Смысл
							жизни, следовательно, творит данный закон внешнего мира. Дедуктивный метод решительно
							представляет собой бабувизм. Наряду с этим ощущение
					|
					|
					.tourism_ft
						+base_button('border_white')
							span.txt Узнать больше
							i.fa.fa-arrow-right

		//|========== Tourism ==========|
	|
	|
	|


	//|=================================== Interest ===================================|
	.interest_sec
		img.interest_bg(src="img/home_interest_ballon.png")

		.container
			.interest
				.interest_ttl
					+base_title_sm О нас

					+base_title_lg Все, что может Вас #[br] заинтересовать о нас
				|
				|
				.interest_cnt
					p.
						Созерцание непредсказуемо. Смысл жизни, следовательно, творит данный закон
						внешнего мира. Созерцание непредсказуемо. Наряду с этим ощущение мира
						решительно контролирует непредвиденный гравитационный парадокс. Дискретность
						амбивалентно транспонирует гравитационный парадокс. Дискретность амбивалентно
						транспонирует гравитационный парадок

					p.
						Смысл жизни, следовательно, творит данный закон внешнего мира. Гедонизм осмысляет
						дедуктивный метод. Дедуктивный метод решительно представляет собой бабувизм. Смысл
						жизни, следовательно, творит данный закон внешнего мира. Дедуктивный метод решительно
						представляет собой бабувизм.

					p.
						Созерцание непредсказуемо. Смысл жизни, следовательно, творит данный закон внешнего
						мира. Созерцание непредсказуемо. Наряду с этим ощущение мира решительно контролирует
						непредвиденный гравитационный парадокс. Дискретность амбивалентно транспонирует
						гравитационный парадокс. Дискретность амбивалентно транспонирует гравитационный парадок

					p.
						Смысл жизни, следовательно, творит данный закон внешнего мира.
						Гедонизм осмысляет дедуктивный метод.

					.interest_more
						a(href="")
							span.txt Узнать больше
							i.fa.fa-arrow-right
		|
		|

		.interest_pano
			img(src="img/home_interest_panorama.png")

		//|========== Interest ==========|
	|
	|
	|


	//|=================================== Comment ===================================|
	.comment_sec
		.container
			.comment
				.comment_ttl.text-center
					+base_title_lg Отзывы о нашей работе
				|
				|
				.comment_cnt
					.comment_bnr

						-
							var comment_list = [
								{
									'video': 'img/video/home_comment_video_1.mp4',
									'image': 'img/home_comment_man_1.jpg',
									'name': 'Мария Петрова',
									'position': 'Домохозяйка',
								},
								{
									'video': 'img/video/home_comment_video_2.mp4',
									'image': 'img/home_comment_man_2.jpg',
									'name': 'Виктор Никифоров',
									'position': 'Менеджер',
								},
							]

						-for (i = 0; i < 3; i++)
							each item in comment_list
								.comment_it
									.comment_vdo_bx(style={"background-image": "url('img/home_comment_video_frame.png')"})
										.comment_vdo
											video.val
												source(src=item.video type="video/mp4")

										.comment_vdo_i.active
											img(src="img/home_comment_video_play.png")
									|
									|
									.comment_man_bx
										.comment_man
											.comment_man_img
												img(src=item.image)
											|
											.comment_man_name= item.name
											.comment_man_pos= item.position
					|
					|

					.comment_bnr_nav
						.comment_bnr_btn.fx-c.prev
							i.fa.fa-angle-left
						|
						|
						.comment_bnr_btn.fx-c.next
							i.fa.fa-angle-right
		//|========== Comment ==========|
	|
	|
	|


	//|=================================== Comment Leave ===================================|
	.cmt_leave_sec
		.container
			.cmt_leave
				.cmt_leave_ttl
					+base_title_lg Вам есть что сказать? #[br] Оставьте отзыв!
				|
				|
				.cmt_leave_cnt
					form
						.cmt_leave_fld
							.row.cmt_leave_row
								.col-lg-6.cmt_leave_col
									.cmt_leave_lbl Имя
									input.cmt_leave_inp(type="text")
								|
								.col-lg-6.cmt_leave_col
									.cmt_leave_lbl Фамилия
									input.cmt_leave_inp(type="text")
							|
							|
							.row.cmt_leave_row
								.col-lg-6.cmt_leave_col
									.cmt_leave_lbl Должность
									input.cmt_leave_inp(type="text")
								|
								.col-lg-6.cmt_leave_col
									.cmt_leave_lbl Фото
									.cmt_leave_img
										input.cmt_leave_inp.cmt_leave_img_inp(type="text" placeholder="Файл не выбран")
										label.cmt_leave_img_btn.fx-c
											input(type="file" accept="image/*" hidden)
											img(src="img/home_upload_photo.png")
							|
							|
							.row.cmt_leave_row
								.col-lg-12.cmt_leave_col
									.cmt_leave_lbl Ваш видео отзыв
									.cmt_leave_vdo
										.cmt_leave_vdo_inp
											input.cmt_leave_inp(type="text" placeholder="Файл не выбран")

										.cmt_leave_vdo_btn
											label Загрузить видео
												input(type="file" accept="video/*" hidden)
							|
							|
							.row.cmt_leave_row
								.col-lg-12.cmt_leave_col
									.cmt_leave_btn
										+base_button('border_red', false) Отправить отзыв
							|
							|
							.row.cmt_leave_row
								.col-lg-12.cmt_leave_col
									.cmt_leave_capt.
										Нажимая кнопку “Отправить отзыв”, вы даете согласие на обработку ваших персональных данных.

		//|========== Comment Leave ==========|
	|
	|
	|


	//|=================================== Partner ===================================|
	.partner_sec
		.container
			.partner_bnr_bx
				.partner_bnr

					-
						var partner_list = [
							'img/home_partner_1.png',
							'img/home_partner_2.png',
							'img/home_partner_3.png',
							'img/home_partner_4.png',
							'img/home_partner_5.png',
						]
					-for (i = 0; i < 2; i++)
						each item in partner_list
							.partner_bnr_it
								img(src=item)
				|
				|

				.partner_bnr_nav
					.partner_bnr_btn.fx-c.prev
						i.fa.fa-angle-left
					|
					.partner_bnr_btn.fx-c.next
						i.fa.fa-angle-right
		//|========== Partner ==========|
	|
	|
	|















	//- |=================================== Something ===================================|
	//- |========== Something ==========|


	//- |____________________ Something ____________________|
	//- |__________ Something __________|
	

index.html
<!DOCTYPE html>
<html>
	<head>
		<title>index</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
		
		
		<!--|____________________ Website description ____________________|-->
		<meta name="description" content="This is my website">
		<meta name="keywords" content="Website, My">
		<meta name="author" content="Azizbek Iskandarov">
		
		
		<!--|____________________ Favicon ____________________|-->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
		
		
		<!--|____________________ Libraries ____________________|-->
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="lib/font_awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="lib/owl_carousel/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="lib/owl_carousel/owl.transitions.css">
		<link rel="stylesheet" type="text/css" href="lib/slick/slick.css">
		
		
		<!--|____________________ Styles ____________________|-->
		<link rel="stylesheet" type="text/css" href="css/main.min.css">
		<link rel="stylesheet" type="text/css" href="css/responsive.min.css">
		<link rel="stylesheet" type="text/css" href="css/ie.min.css">
	</head>
	<body>
		<!--|____________________ Internet Explorer ____________________|-->
		<!--[if IE]>
		<div class="ie_bx">
			<h2>You are using the old version of Internet Explorer</h2>
			<h2>Please, download Google Chrome for better performance!</h2>
			<h2><a href="https://www.google.com/chrome/">https://www.google.com/chrome/</a></h2>
		</div>
		<div class="ie_bg"></div>
		<![endif]-->
		<!--|__________ Internet Explorer __________|-->
		
		
		
		<!--|************************************************** Header **************************************************|-->
		<header class="header">
			<div class="hdr_fixed">
				<!--|=================================== Header Top ===================================|-->
				<div class="hdr_top_bx">
					<div class="container">
						<div class="hdr_top">
							<div class="hdr_top_left">
								<div class="hdr_logo"><a href=""><img src="img/logo.png"></a></div>
								<div class="hdr_capt">Агенство медицинского <br> туризма</div>
							</div>
							
							<div class="hdr_top_right">
								<div class="hdr_ctt">
									<div class="hdr_ctt_tel"><a href="tel:+8(495)7214114">+8 (495) <strong>721 41 14</strong></a></div>
									<div class="hdr_ctt_email"><a href="mailto:support@wpmed.ru">support@wpmed.ru</a></div>
								</div>
								<div class="hdr_ctt_btn"><a class="base_btn border_red" href="" data-toggle="modal" data-target="#modalContact">Связаться с нами</a>
								</div>
							</div>
						</div>
					</div>
					<!--|========== Header Top ==========|-->
				</div>
				
				
				<!--|=================================== Header Navigation ===================================|-->
				<div class="nav_sec">
					<div class="container">
						<div class="nav_bx">
							<!--|____________________ Navigation Menu ____________________|-->
							<div class="nav_menu">
								<ul class="nav_menu_ls">
									<li class="active"><a href="">Главная</a></li>
									<li><a href="">Медицинский туризм</a></li>
									<li><a href="">ПАРТНЕРЫ</a></li>
									<li><a href="">О компании</a></li>
									<li><a href="">Контакты</a></li>
								</ul>
								<!--|__________ Navigation Menu __________|-->
							</div>
							
							<!--|____________________ Navigation Button ____________________|-->
							<button class="nav_menu_btn fx-c" type="button"><span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
								
							</button>
							
							<!--|____________________ Navigation Background ____________________|-->
							<div class="nav_menu_bg"></div>
							
							
							<div class="nav_scl">
								<div class="nav_scl_txt">Мы в соц. сетях:</div>
								<ul class="nav_scl_ls">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-instagram"></i></a></li>
									<li><a href=""><i class="fa fa-vk"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!--|========== Header Navigation ==========|-->
				</div>
			</div>
			<!--|********** Header **********|-->
		</header>
		
		
		
		<!--|************************************************** Main **************************************************|-->
		<main class="main">
			<!--|=================================== Banner ===================================|-->
			<div class="banner_sec">
				<div class="banner_bx">
					<div class="banner">
						<div class="banner_it"><img class="banner_img" src="img/home_banner.jpg">
							<div class="container banner_capt_bx">
								
								<a class="banner_capt" href="">
									<div class="banner_capt_ttl">Путешествие длиною в жизнь</div>
									<div class="banner_capt_cnt">
										Созерцание непредсказуемо. Смысл жизни, следовательно, творит данный
										закон внешнего мира. Созерцание непредсказуемо. Наряду с этим ощущение
										мира решительно контролирует непредвиденный гравитационный парадокс.
									</div></a>
							</div>
						</div>
						
						<div class="banner_it"><img class="banner_img" src="img/home_banner.jpg">
							<div class="container banner_capt_bx">
								
								<a class="banner_capt" href="">
									<div class="banner_capt_ttl">Путешествие длиною в жизнь</div>
									<div class="banner_capt_cnt">
										Созерцание непредсказуемо. Смысл жизни, следовательно, творит данный
										закон внешнего мира. Созерцание непредсказуемо. Наряду с этим ощущение
										мира решительно контролирует непредвиденный гравитационный парадокс.
									</div></a>
							</div>
						</div>
						
						<div class="banner_it"><img class="banner_img" src="img/home_banner.jpg">
							<div class="container banner_capt_bx">
								
								<a class="banner_capt" href="">
									<div class="banner_capt_ttl">Путешествие длиною в жизнь</div>
									<div class="banner_capt_cnt">
										Созерцание непредсказуемо. Смысл жизни, следовательно, творит данный
										закон внешнего мира. Созерцание непредсказуемо. Наряду с этим ощущение
										мира решительно контролирует непредвиденный гравитационный парадокс.
									</div></a>
							</div>
						</div>
						
					</div>
					
					<div class="banner_nav">
						<div class="banner_btn fx-c prev"><i class="fa fa-angle-left"></i></div>
						<div class="banner_btn fx-c next"><i class="fa fa-angle-right"></i></div>
					</div>
					<a class="banner_mouse" href=""><img src="img/home_banner_mouse.png"></a>
				</div>
				<!--|========== Banner ==========|-->
			</div>
			
			
			<!--|=================================== Advantage ===================================|-->
			<div class="advantage_sec">
				<div class="advantage bg-cover" style="background-image:url('img/home_advantage_bg.jpg');">
					<div class="advantage_ttl_bx">
						<div class="container">
							<div class="advantage_ttl">
								<h4 class="base_title_sm">НАШИ ПРЕИМУЩЕСТВА
								</h4>
								<h2 class="base_title_lg">То, что нас выделяет
								</h2>
							</div>
						</div>
					</div>
					
					<div class="advantage_cnt_bx">
						<div class="container">
							<div class="advantage_cnt">
								<div class="row advantage_row">
									<div class="col-lg-6 advantage_it">
										<div class="advantage_img"><img src="img/home_advantage_1.png"></div>
										
										<div class="advantage_txt">
											<div class="advantage_name">Свобода действий</div>
											<div class="advantage_info">Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.</div>
										</div>
									</div>
									
									<div class="col-lg-6 advantage_it">
										<div class="advantage_img"><img src="img/home_advantage_2.png"></div>
										
										<div class="advantage_txt">
											<div class="advantage_name">«Умная» экономия</div>
											<div class="advantage_info">Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.</div>
										</div>
									</div>
								</div>
								
								<div class="row advantage_row">
									<div class="col-lg-6 advantage_it">
										<div class="advantage_img"><img src="img/home_advantage_3.png"></div>
										
										<div class="advantage_txt">
											<div class="advantage_name">Колорит путешествия</div>
											<div class="advantage_info">Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.</div>
										</div>
									</div>
									
									<div class="col-lg-6 advantage_it">
										<div class="advantage_img"><img src="img/home_advantage_4.png"></div>
										
										<div class="advantage_txt">
											<div class="advantage_name">Путешествие ДЛЯ ЗДОРОВЬЯ</div>
											<div class="advantage_info">Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.</div>
										</div>
									</div>
								</div>
								
								<div class="row advantage_row">
									<div class="col-lg-6 advantage_it">
										<div class="advantage_img"><img src="img/home_advantage_5.png"></div>
										
										<div class="advantage_txt">
											<div class="advantage_name">ОФОРМЛЕНИЕ ВИЗ И ТРАНСФЕРОВ</div>
											<div class="advantage_info">Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.</div>
										</div>
									</div>
									
									<div class="col-lg-6 advantage_it">
										<div class="advantage_img"><img src="img/home_advantage_6.png"></div>
										
										<div class="advantage_txt">
											<div class="advantage_name">ПОДБОР ЛУЧШИХ ЦЕН</div>
											<div class="advantage_info">Созерцание непредсказуемо. Смысл жизни, выходит следовательно, творит данный закон внешнего мира.</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<!--|========== Advantage ==========|-->
			</div>
			
			
			<!--|=================================== Tourism ===================================|-->
			<div class="tourism_sec">
				<div class="tourism_bg"><img src="img/home_tourism_bg.jpg"></div>
				<div class="container">
					<div class="tourism_bx">
						<div class="tourism">
							<div class="tourism_hd">
								<h4 class="base_title_sm">Информация о медицинском туризме
								</h4>
								<h2 class="base_title_lg">Что такое мед. туризм?
								</h2>
							</div>
							
							<div class="tourism_bd">
								<p>
									Созерцание непредсказуемо. Смысл жизни, следовательно, творит данный закон
									внешнего мира. Созерцание непредсказуемо. Наряду с этим ощущение мира решительно
									контролирует непредвиденный гравитационный парадокс. Дискретность амбивалентно
									транспонирует гравитационный парадокс. Дискретность амбивалентно транспонирует
									гравитационный парадок
									
								</p>
								<p>
									Смысл жизни, следовательно, творит данный закон внешнего мира. Гедонизм осмысляет
									дедуктивный метод. Дедуктивный метод решительно представляет собой бабувизм. Смысл
									жизни, следовательно, творит данный закон внешнего мира. Дедуктивный метод решительно
									представляет собой бабувизм. Наряду с этим ощущение
								</p>
							</div>
							
							<div class="tourism_ft"><a class="base_btn border_white" href=""><span class="txt">Узнать больше</span><i class="fa fa-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
				<!--|========== Tourism ==========|-->
			</div>
			
			
			<!--|=================================== Interest ===================================|-->
			<div class="interest_sec"><img class="interest_bg" src="img/home_interest_ballon.png">
				<div class="container">
					<div class="interest">
						<div class="interest_ttl">
							<h4 class="base_title_sm">О нас
							</h4>
							<h2 class="base_title_lg">Все, что может Вас <br> заинтересовать о нас
							</h2>
						</div>
						
						<div class="interest_cnt">
							<p>
								Созерцание непредсказуемо. Смысл жизни, следовательно, творит данный закон
								внешнего мира. Созерцание непредсказуемо. Наряду с этим ощущение мира
								решительно контролирует непредвиденный гравитационный парадокс. Дискретность
								амбивалентно транспонирует гравитационный парадокс. Дискретность амбивалентно
								транспонирует гравитационный парадок
								
							</p>
							<p>
								Смысл жизни, следовательно, творит данный закон внешнего мира. Гедонизм осмысляет
								дедуктивный метод. Дедуктивный метод решительно представляет собой бабувизм. Смысл
								жизни, следовательно, творит данный закон внешнего мира. Дедуктивный метод решительно
								представляет собой бабувизм.
								
							</p>
							<p>
								Созерцание непредсказуемо. Смысл жизни, следовательно, творит данный закон внешнего
								мира. Созерцание непредсказуемо. Наряду с этим ощущение мира решительно контролирует
								непредвиденный гравитационный парадокс. Дискретность амбивалентно транспонирует
								гравитационный парадокс. Дискретность амбивалентно транспонирует гравитационный парадок
								
							</p>
							<p>
								Смысл жизни, следовательно, творит данный закон внешнего мира.
								Гедонизм осмысляет дедуктивный метод.
								
							</p>
							<div class="interest_more"><a href=""><span class="txt">Узнать больше</span><i class="fa fa-arrow-right"></i></a></div>
						</div>
					</div>
				</div>
				
				<div class="interest_pano"><img src="img/home_interest_panorama.png"></div>
				<!--|========== Interest ==========|-->
			</div>
			
			
			<!--|=================================== Comment ===================================|-->
			<div class="comment_sec">
				<div class="container">
					<div class="comment">
						<div class="comment_ttl text-center">
							<h2 class="base_title_lg">Отзывы о нашей работе
							</h2>
						</div>
						
						<div class="comment_cnt">
							<div class="comment_bnr">
								<div class="comment_it">
									<div class="comment_vdo_bx" style="background-image:url('img/home_comment_video_frame.png');">
										<div class="comment_vdo">
											<video class="val">
												<source src="img/video/home_comment_video_1.mp4" type="video/mp4">
											</video>
										</div>
										<div class="comment_vdo_i active"><img src="img/home_comment_video_play.png"></div>
									</div>
									
									<div class="comment_man_bx">
										<div class="comment_man">
											<div class="comment_man_img"><img src="img/home_comment_man_1.jpg"></div>
											<div class="comment_man_name">Мария Петрова</div>
											<div class="comment_man_pos">Домохозяйка</div>
										</div>
									</div>
								</div>
								<div class="comment_it">
									<div class="comment_vdo_bx" style="background-image:url('img/home_comment_video_frame.png');">
										<div class="comment_vdo">
											<video class="val">
												<source src="img/video/home_comment_video_2.mp4" type="video/mp4">
											</video>
										</div>
										<div class="comment_vdo_i active"><img src="img/home_comment_video_play.png"></div>
									</div>
									
									<div class="comment_man_bx">
										<div class="comment_man">
											<div class="comment_man_img"><img src="img/home_comment_man_2.jpg"></div>
											<div class="comment_man_name">Виктор Никифоров</div>
											<div class="comment_man_pos">Менеджер</div>
										</div>
									</div>
								</div>
								<div class="comment_it">
									<div class="comment_vdo_bx" style="background-image:url('img/home_comment_video_frame.png');">
										<div class="comment_vdo">
											<video class="val">
												<source src="img/video/home_comment_video_1.mp4" type="video/mp4">
											</video>
										</div>
										<div class="comment_vdo_i active"><img src="img/home_comment_video_play.png"></div>
									</div>
									
									<div class="comment_man_bx">
										<div class="comment_man">
											<div class="comment_man_img"><img src="img/home_comment_man_1.jpg"></div>
											<div class="comment_man_name">Мария Петрова</div>
											<div class="comment_man_pos">Домохозяйка</div>
										</div>
									</div>
								</div>
								<div class="comment_it">
									<div class="comment_vdo_bx" style="background-image:url('img/home_comment_video_frame.png');">
										<div class="comment_vdo">
											<video class="val">
												<source src="img/video/home_comment_video_2.mp4" type="video/mp4">
											</video>
										</div>
										<div class="comment_vdo_i active"><img src="img/home_comment_video_play.png"></div>
									</div>
									
									<div class="comment_man_bx">
										<div class="comment_man">
											<div class="comment_man_img"><img src="img/home_comment_man_2.jpg"></div>
											<div class="comment_man_name">Виктор Никифоров</div>
											<div class="comment_man_pos">Менеджер</div>
										</div>
									</div>
								</div>
								<div class="comment_it">
									<div class="comment_vdo_bx" style="background-image:url('img/home_comment_video_frame.png');">
										<div class="comment_vdo">
											<video class="val">
												<source src="img/video/home_comment_video_1.mp4" type="video/mp4">
											</video>
										</div>
										<div class="comment_vdo_i active"><img src="img/home_comment_video_play.png"></div>
									</div>
									
									<div class="comment_man_bx">
										<div class="comment_man">
											<div class="comment_man_img"><img src="img/home_comment_man_1.jpg"></div>
											<div class="comment_man_name">Мария Петрова</div>
											<div class="comment_man_pos">Домохозяйка</div>
										</div>
									</div>
								</div>
								<div class="comment_it">
									<div class="comment_vdo_bx" style="background-image:url('img/home_comment_video_frame.png');">
										<div class="comment_vdo">
											<video class="val">
												<source src="img/video/home_comment_video_2.mp4" type="video/mp4">
											</video>
										</div>
										<div class="comment_vdo_i active"><img src="img/home_comment_video_play.png"></div>
									</div>
									
									<div class="comment_man_bx">
										<div class="comment_man">
											<div class="comment_man_img"><img src="img/home_comment_man_2.jpg"></div>
											<div class="comment_man_name">Виктор Никифоров</div>
											<div class="comment_man_pos">Менеджер</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="comment_bnr_nav">
								<div class="comment_bnr_btn fx-c prev"><i class="fa fa-angle-left"></i></div>
								
								<div class="comment_bnr_btn fx-c next"><i class="fa fa-angle-right"></i></div>
							</div>
						</div>
					</div>
				</div>
				<!--|========== Comment ==========|-->
			</div>
			
			
			<!--|=================================== Comment Leave ===================================|-->
			<div class="cmt_leave_sec">
				<div class="container">
					<div class="cmt_leave">
						<div class="cmt_leave_ttl">
							<h2 class="base_title_lg">Вам есть что сказать? <br> Оставьте отзыв!
							</h2>
						</div>
						
						<div class="cmt_leave_cnt">
							<form>
								<div class="cmt_leave_fld">
									<div class="row cmt_leave_row">
										<div class="col-lg-6 cmt_leave_col">
											<div class="cmt_leave_lbl">Имя</div>
											<input class="cmt_leave_inp" type="text">
										</div>
										<div class="col-lg-6 cmt_leave_col">
											<div class="cmt_leave_lbl">Фамилия</div>
											<input class="cmt_leave_inp" type="text">
										</div>
									</div>
									
									<div class="row cmt_leave_row">
										<div class="col-lg-6 cmt_leave_col">
											<div class="cmt_leave_lbl">Должность</div>
											<input class="cmt_leave_inp" type="text">
										</div>
										<div class="col-lg-6 cmt_leave_col">
											<div class="cmt_leave_lbl">Фото</div>
											<div class="cmt_leave_img">
												<input class="cmt_leave_inp cmt_leave_img_inp" type="text" placeholder="Файл не выбран">
												<label class="cmt_leave_img_btn fx-c">
													<input type="file" accept="image/*" hidden><img src="img/home_upload_photo.png">
												</label>
											</div>
										</div>
									</div>
									
									<div class="row cmt_leave_row">
										<div class="col-lg-12 cmt_leave_col">
											<div class="cmt_leave_lbl">Ваш видео отзыв</div>
											<div class="cmt_leave_vdo">
												<div class="cmt_leave_vdo_inp">
													<input class="cmt_leave_inp" type="text" placeholder="Файл не выбран">
												</div>
												<div class="cmt_leave_vdo_btn">
													<label>Загрузить видео
														<input type="file" accept="video/*" hidden>
													</label>
												</div>
											</div>
										</div>
									</div>
									
									<div class="row cmt_leave_row">
										<div class="col-lg-12 cmt_leave_col">
											<div class="cmt_leave_btn">
												<button class="base_btn border_red" type="submit">Отправить отзыв
												</button>
											</div>
										</div>
									</div>
									
									<div class="row cmt_leave_row">
										<div class="col-lg-12 cmt_leave_col">
											<div class="cmt_leave_capt">
												Нажимая кнопку “Отправить отзыв”, вы даете согласие на обработку ваших персональных данных.
												
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!--|========== Comment Leave ==========|-->
			</div>
			
			
			<!--|=================================== Partner ===================================|-->
			<div class="partner_sec">
				<div class="container">
					<div class="partner_bnr_bx">
						<div class="partner_bnr">
							<div class="partner_bnr_it"><img src="img/home_partner_1.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_2.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_3.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_4.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_5.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_1.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_2.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_3.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_4.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_5.png"></div>
						</div>
						
						<div class="partner_bnr_nav">
							<div class="partner_bnr_btn fx-c prev"><i class="fa fa-angle-left"></i></div>
							<div class="partner_bnr_btn fx-c next"><i class="fa fa-angle-right"></i></div>
						</div>
					</div>
				</div>
				<!--|========== Partner ==========|-->
			</div>
			
			
			<!--|********** Main **********|-->
		</main>
		
		
		
		<!--|************************************************** Footer **************************************************|-->
		<footer class="footer">
			<div class="container">
				<div class="foot_it_bx">
					<div class="foot_it">
						<div class="foot_logo_bx">
							<div class="foot_logo"><a href=""><img src="img/logo.png"></a></div>
							<div class="foot_logo_capt">Ветер Перемен. 2018. &copy; Все права сохранены.</div>
						</div>
					</div>
					
					<div class="foot_it">
						<ul class="foot_contact">
							<li><i class="fa fa-map-marker"></i><span class="txt">127427, Москва, ул. Академика Королева, <br> дом 15, корп. 2</span></li>
							<li><i class="fa fa-phone"></i><span class="txt">+8 (967) 291 8553 , +8 (495) 721 4114</span></li>
							<li><i class="fa fa-envelope"></i><span class="txt">veterperemen2019@mail.ru</span></li>
						</ul>
					</div>
					
					<div class="foot_it">
						<ul class="foot_menu">
							<li><a href="">Медицинский туризм</a></li>
							<li><a href="">Партнеры</a></li>
							<li><a href="">О компании</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</div>
					
					<div class="foot_it">
						<div class="foot_scl_bx">
							<div class="foot_scl">
								<div class="foot_scl_txt">Мы в соц. сетях</div>
								<ul class="foot_scl_ls">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-instagram"></i></a></li>
									<li><a href=""><i class="fa fa-vk"></i></a></li>
								</ul>
							</div>
							
							<div class="foot_made">
								Создано в
								<a href="">Smart Outsourcing Solutions</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--|********** Footer **********|-->
		</footer>
		
		
		<!--|____________________ Anchor ____________________|-->
		<button class="anchor" type="button"><i class="fa fa-angle-up"></i><span class="txt">вверх</span></button>
		
		
		<!--|____________________ Modal Contact ____________________|-->
		<div class="modal fade base_modal" id="modalContact">
			<div class="modal-dialog">
				<div class="modal-content">
					<!--|=================================== Modal Core ===================================|-->
					<div class="base_modal_cnt core active">
						<form>
							
							
							<div class="base_modal_cls_bx">
								<button class="base_modal_cls" data-dismiss="modal"><i class="fa fa-times"></i></button>
							</div>
							
							<div class="base_modal_hd">
								<div class="base_modal_ttl">Свяжитесь с нами</div>
										<div class="title_line_bx base_modal_ttl_line">
											<div class="title_line"></div>
										</div>
								<p class="base_modal_ttl_capt">Внимание, все поля обязательны для заполнения. С вами свяжется наш менеджер.</p>
							</div>
							
							
							<div class="base_modal_bd">
								<div class="form-group">
									<label>Имя</label>
									<input class="cmt_leave_inp" type="text">
								</div>
								
								<div class="form-group">
									<label>Телефон</label>
									<input class="cmt_leave_inp" type="tel">
								</div>
								
								<div class="form-group">
									<label>Email</label>
									<input class="cmt_leave_inp" type="email">
								</div>
								
								<div class="form-group">
									<label>Направление</label>
									<div class="mdl_select">
										<select class="cmt_leave_inp">
											<option>Выберите направление</option>
											<option>Выберите направление</option>
											<option>Выберите направление</option>
										</select><i class="fa fa-angle-down"></i>
									</div>
								</div>
								
								<div class="form-group">
									<label>Цель отдыха</label>
									<div class="mdl_select">
										<select class="cmt_leave_inp">
											<option>Выберите направление</option>
										</select><i class="fa fa-angle-down"></i>
									</div>
								</div>
							</div>
							
							
							<div class="base_modal_ft">
										<button class="base_btn base_modal_btn border_red" type="submit" data-send-form="">Отправить заявку
										</button>
								<p class="base_modal_terms">Нажимая кнопку “Отправить заявку”, вы даете согласие на обработку ваших персональных данных.</p>
							</div>
						</form>
						<!--|========== Modal Core ==========|-->
					</div>
					
					
					<!--|=================================== Modal Thanks ===================================|-->
					<div class="base_modal_cnt thank">
						
						
						<div class="base_modal_cls_bx">
							<button class="base_modal_cls" data-dismiss="modal"><i class="fa fa-times"></i></button>
						</div>
						
						<div class="base_modal_thk_txt">
							<div class="base_modal_ttl thank">Спасибо за заявку!</div>
							<div class="base_modal_thk_info">Апостериори, гравитационный парадокс амбивалентно понимает под собой интеллигибельный знак. Наряду с этим ощущение мира контролирует непредвиденный гравитационный парадокс.</div>
							<div class="base_modal_thk_btn"><a class="base_btn base_modal_btn border_red thank" href="" data-dismiss="modal">Закрыть форму</a>
							</div>
						</div>
						
						
						<div class="base_modal_thk_img"><img src="img/form_submitted.png"></div>
						<!--|========== Modal Thanks ==========|-->
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<!--|************************************************** JavaScript Plugins **************************************************|-->
		
		<!--|____________________ Jquery ____________________|-->
		<script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
		
		
		<!--|____________________ Libraries ____________________|-->
		<script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="lib/owl_carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="lib/slick/slick.min.js"></script>
		
		
		<!--|____________________ Scripts ____________________|-->
		<script type="text/javascript" src="js/custom.js"></script>
	</body>
</html>
