pug/partner.pug

extends includes/main
include includes/mixins

append variables
	- var title = 'partner'




block main

	//|=================================== Wallpaper ===================================|
	.wallpaper
		img.wallpaper_img(src="img/wallpaper_partner.jpg")

		.container.wallpaper_capt
			.wallpaper_ttl ПАРТНЕРЫ
			|
			|
			ul.wallpaper_bread
				li
					a(href="") ГЛАВНАЯ

				li ПАРТНЕРЫ

		//|========== Wallpaper ==========|
	|
	|
	|



	//|=================================== Description ===================================|
	.part_desc_sec
		.container
			.part_desc
				.contact_ttl.tour_di_ttl.part_desc_ttl
					+base_title_sm('contact_ttl_sm') ПАРТНЕРЫ
					+base_title_lg('contact_ttl_lg') Партнеры
					+title_line('contact_ttl_line')
				|
				|
				.part_desc_cnt.
					Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен. Дискретность амбивалентно транспонирует гравитационный парадокс. Импликация, следовательно, контролирует бабувизм, открывая новые Отсюда естественно следует, что автоматизация дискредитирует предмет деятельности. Дискретность амбивалентно транспонирует гравитационный парадокс. Гедонизм осмысляет дедуктивный метод. Дедуктивный метод решительно представляет собой бабувизм. Гедонизм осмысляет дедуктивный метод. Смысл жизни, следовательно, творит данный закон.

		//|========== Description ==========|
	|
	|
	|



	//|=================================== Offer ===================================|
	.part_ofr_sec
		.container
			.part_ofr
				.row
					.col-lg-3.mb-5.mb-lg-0
						.part_ofr_asd
							.part_ofr_tab
								.nav.part_ofr_tab_nav
									a.fx-c.active(data-toggle="tab" href="#connection") ОБРАТНАЯ СВЯЗЬ
									a.fx-c(data-toggle="tab" href="#contact") КОНТАКТЫ

								.tab-content.part_ofr_tab_cnt
									.tab-pane.fade.show.active(id="connection")
										.part_ofr_tab_form
											form
												.form-group
													input.form-control(type="text" placeholder="Имя")
												.form-group
													input.form-control(type="email" placeholder="Email")
												.form-group
													input.form-control(type="tel" placeholder="Телефон")
												.form-group
													.part_ofr_sel
														select.form-control.ap-n
															option Выберите тему
															option Выберите тему
															option Выберите тему
														i.fa.fa-angle-down
												.form-group
													textarea.form-control(rows="7" placeholder="Сообщение")
												.form-group
													+base_button('border_green part_ofr_tab_form_btn') Отправить сообщение
									|
									|
									.tab-pane.fade(id="contact")
										.part_ofr_tab_ctt
											.part_ofr_tab_ctt_it
												.txt Адрес
												.val 127427, Москва, ул. Академика Королева, дом 15, корп. 2

											.part_ofr_tab_ctt_it
												.txt Телефон
												.val
													p +8 (967) 291 8553
													p +8 (495) 721 4114

											.part_ofr_tab_ctt_it
												.txt Email
												.val.email veterperemen2019@mail.ru

											.part_ofr_tab_ctt_it
												.contact_scl.part_ofr_tab_scl
													.contact_scl_ttl Мы в соц. сетях

													ul.contact_scl_ls

														-
															var contactSocial = [
															'fa-facebook',
															'fa-twitter',
															'fa-instagram',
															'fa-paper-plane',
															]
														each item in contactSocial
															li
																a(href="")
																	i.fa(class=item)
					|
					|
					.col-lg-9
						.part_ofr_cnt

							-
								var partnerOffer = {
									'image': 'img/tourism_place_4.jpg',
									'name': 'Capella Marigot Bay Resort & Marina',
									'city': 'MARIGOT BAY, ST.LUCIA',
									'text': 'Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен.',
								}
							-for(i = 0; i < 5; i++)
								.part_ofr_it
									.row
										.col-lg-4
											.part_ofr_img
												img(src=partnerOffer.image)
										|
										|
										.col-lg-8
											.part_ofr_txt
												.part_ofr_name= partnerOffer.name

												.part_ofr_city= partnerOffer.city

												.part_ofr_desc= partnerOffer.text

												.part_ofr_go
													a.part_ofr_go_btn(href="")
														span.txt Перейти на сайт
														i.fa.fa-arrow-right

						|
						|

						.part_ofr_pgnt
							ul.pgnt_ls
								li.ctrl.disabled
									a(href="")
										i.fa.fa-angle-left
								li.active
									a(href="") 1
								li
									a(href="") 2
								li
									a(href="") 3

								li ...

								li
									a(href="") 20
								li.ctrl
									a(href="")
										i.fa.fa-angle-right


		//|========== Offer ==========|
	|
	|
	|


	//|=================================== Partner ===================================|
	.partner_sec
		.container
			.partner_bnr_bx
				.partner_bnr

					-
						var partner_list = [
							'img/home_partner_1.png',
							'img/home_partner_2.png',
							'img/home_partner_3.png',
							'img/home_partner_4.png',
							'img/home_partner_5.png',
						]
					-for (i = 0; i < 2; i++)
						each item in partner_list
							.partner_bnr_it
								img(src=item)
				|
				|

				.partner_bnr_nav
					.partner_bnr_btn.fx-c.prev
						i.fa.fa-angle-left
					|
					.partner_bnr_btn.fx-c.next
						i.fa.fa-angle-right
		//|========== Partner ==========|
	|
	|
	|















	//- |=================================== Something ===================================|
	//- |========== Something ==========|


	//- |____________________ Something ____________________|
	//- |__________ Something __________|
	

partner.html
<!DOCTYPE html>
<html>
	<head>
		<title>partner</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
		
		
		<!--|____________________ Website description ____________________|-->
		<meta name="description" content="This is my website">
		<meta name="keywords" content="Website, My">
		<meta name="author" content="Azizbek Iskandarov">
		
		
		<!--|____________________ Favicon ____________________|-->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
		
		
		<!--|____________________ Libraries ____________________|-->
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="lib/font_awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="lib/owl_carousel/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="lib/owl_carousel/owl.transitions.css">
		<link rel="stylesheet" type="text/css" href="lib/slick/slick.css">
		
		
		<!--|____________________ Styles ____________________|-->
		<link rel="stylesheet" type="text/css" href="css/main.min.css">
		<link rel="stylesheet" type="text/css" href="css/responsive.min.css">
		<link rel="stylesheet" type="text/css" href="css/ie.min.css">
	</head>
	<body>
		<!--|____________________ Internet Explorer ____________________|-->
		<!--[if IE]>
		<div class="ie_bx">
			<h2>You are using the old version of Internet Explorer</h2>
			<h2>Please, download Google Chrome for better performance!</h2>
			<h2><a href="https://www.google.com/chrome/">https://www.google.com/chrome/</a></h2>
		</div>
		<div class="ie_bg"></div>
		<![endif]-->
		<!--|__________ Internet Explorer __________|-->
		
		
		
		<!--|************************************************** Header **************************************************|-->
		<header class="header">
			<div class="hdr_fixed">
				<!--|=================================== Header Top ===================================|-->
				<div class="hdr_top_bx">
					<div class="container">
						<div class="hdr_top">
							<div class="hdr_top_left">
								<div class="hdr_logo"><a href=""><img src="img/logo.png"></a></div>
								<div class="hdr_capt">Агенство медицинского <br> туризма</div>
							</div>
							
							<div class="hdr_top_right">
								<div class="hdr_ctt">
									<div class="hdr_ctt_tel"><a href="tel:+8(495)7214114">+8 (495) <strong>721 41 14</strong></a></div>
									<div class="hdr_ctt_email"><a href="mailto:support@wpmed.ru">support@wpmed.ru</a></div>
								</div>
								<div class="hdr_ctt_btn"><a class="base_btn border_red" href="" data-toggle="modal" data-target="#modalContact">Связаться с нами</a>
								</div>
							</div>
						</div>
					</div>
					<!--|========== Header Top ==========|-->
				</div>
				
				
				<!--|=================================== Header Navigation ===================================|-->
				<div class="nav_sec">
					<div class="container">
						<div class="nav_bx">
							<!--|____________________ Navigation Menu ____________________|-->
							<div class="nav_menu">
								<ul class="nav_menu_ls">
									<li class="active"><a href="">Главная</a></li>
									<li><a href="">Медицинский туризм</a></li>
									<li><a href="">ПАРТНЕРЫ</a></li>
									<li><a href="">О компании</a></li>
									<li><a href="">Контакты</a></li>
								</ul>
								<!--|__________ Navigation Menu __________|-->
							</div>
							
							<!--|____________________ Navigation Button ____________________|-->
							<button class="nav_menu_btn fx-c" type="button"><span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
								
							</button>
							
							<!--|____________________ Navigation Background ____________________|-->
							<div class="nav_menu_bg"></div>
							
							
							<div class="nav_scl">
								<div class="nav_scl_txt">Мы в соц. сетях:</div>
								<ul class="nav_scl_ls">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-instagram"></i></a></li>
									<li><a href=""><i class="fa fa-vk"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<!--|========== Header Navigation ==========|-->
				</div>
			</div>
			<!--|********** Header **********|-->
		</header>
		
		
		
		<!--|************************************************** Main **************************************************|-->
		<main class="main">
			<!--|=================================== Wallpaper ===================================|-->
			<div class="wallpaper"><img class="wallpaper_img" src="img/wallpaper_partner.jpg">
				<div class="container wallpaper_capt">
					<div class="wallpaper_ttl">ПАРТНЕРЫ</div>
					
					<ul class="wallpaper_bread">
						<li><a href="">ГЛАВНАЯ</a></li>
						<li>ПАРТНЕРЫ</li>
					</ul>
				</div>
				<!--|========== Wallpaper ==========|-->
			</div>
			
			
			<!--|=================================== Description ===================================|-->
			<div class="part_desc_sec">
				<div class="container">
					<div class="part_desc">
						<div class="contact_ttl tour_di_ttl part_desc_ttl">
							<h4 class="base_title_sm contact_ttl_sm">ПАРТНЕРЫ
							</h4>
							<h2 class="base_title_lg contact_ttl_lg">Партнеры
							</h2>
							<div class="title_line_bx contact_ttl_line">
								<div class="title_line"></div>
							</div>
						</div>
						
						<div class="part_desc_cnt">
							Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен. Дискретность амбивалентно транспонирует гравитационный парадокс. Импликация, следовательно, контролирует бабувизм, открывая новые Отсюда естественно следует, что автоматизация дискредитирует предмет деятельности. Дискретность амбивалентно транспонирует гравитационный парадокс. Гедонизм осмысляет дедуктивный метод. Дедуктивный метод решительно представляет собой бабувизм. Гедонизм осмысляет дедуктивный метод. Смысл жизни, следовательно, творит данный закон.
							
						</div>
					</div>
				</div>
				<!--|========== Description ==========|-->
			</div>
			
			
			<!--|=================================== Offer ===================================|-->
			<div class="part_ofr_sec">
				<div class="container">
					<div class="part_ofr">
						<div class="row">
							<div class="col-lg-3 mb-5 mb-lg-0">
								<div class="part_ofr_asd">
									<div class="part_ofr_tab">
										<div class="nav part_ofr_tab_nav"><a class="fx-c active" data-toggle="tab" href="#connection">ОБРАТНАЯ СВЯЗЬ</a><a class="fx-c" data-toggle="tab" href="#contact">КОНТАКТЫ</a></div>
										<div class="tab-content part_ofr_tab_cnt">
											<div class="tab-pane fade show active" id="connection">
												<div class="part_ofr_tab_form">
													<form>
														<div class="form-group">
															<input class="form-control" type="text" placeholder="Имя">
														</div>
														<div class="form-group">
															<input class="form-control" type="email" placeholder="Email">
														</div>
														<div class="form-group">
															<input class="form-control" type="tel" placeholder="Телефон">
														</div>
														<div class="form-group">
															<div class="part_ofr_sel">
																<select class="form-control ap-n">
																	<option>Выберите тему</option>
																	<option>Выберите тему</option>
																	<option>Выберите тему</option>
																</select><i class="fa fa-angle-down"></i>
															</div>
														</div>
														<div class="form-group">
															<textarea class="form-control" rows="7" placeholder="Сообщение"></textarea>
														</div>
														<div class="form-group"><a class="base_btn border_green part_ofr_tab_form_btn" href="">Отправить сообщение</a>
														</div>
													</form>
												</div>
											</div>
											
											<div class="tab-pane fade" id="contact">
												<div class="part_ofr_tab_ctt">
													<div class="part_ofr_tab_ctt_it">
														<div class="txt">Адрес</div>
														<div class="val">127427, Москва, ул. Академика Королева, дом 15, корп. 2</div>
													</div>
													<div class="part_ofr_tab_ctt_it">
														<div class="txt">Телефон</div>
														<div class="val">
															<p>+8 (967) 291 8553</p>
															<p>+8 (495) 721 4114</p>
														</div>
													</div>
													<div class="part_ofr_tab_ctt_it">
														<div class="txt">Email</div>
														<div class="val email">veterperemen2019@mail.ru</div>
													</div>
													<div class="part_ofr_tab_ctt_it">
														<div class="contact_scl part_ofr_tab_scl">
															<div class="contact_scl_ttl">Мы в соц. сетях</div>
															<ul class="contact_scl_ls">
																<li><a href=""><i class="fa fa-facebook"></i></a></li>
																<li><a href=""><i class="fa fa-twitter"></i></a></li>
																<li><a href=""><i class="fa fa-instagram"></i></a></li>
																<li><a href=""><i class="fa fa-paper-plane"></i></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-lg-9">
								<div class="part_ofr_cnt">
									<div class="part_ofr_it">
										<div class="row">
											<div class="col-lg-4">
												<div class="part_ofr_img"><img src="img/tourism_place_4.jpg"></div>
											</div>
											
											<div class="col-lg-8">
												<div class="part_ofr_txt">
													<div class="part_ofr_name">Capella Marigot Bay Resort &amp; Marina</div>
													<div class="part_ofr_city">MARIGOT BAY, ST.LUCIA</div>
													<div class="part_ofr_desc">Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен.</div>
													<div class="part_ofr_go"><a class="part_ofr_go_btn" href=""><span class="txt">Перейти на сайт</span><i class="fa fa-arrow-right"></i></a></div>
												</div>
											</div>
										</div>
									</div>
									<div class="part_ofr_it">
										<div class="row">
											<div class="col-lg-4">
												<div class="part_ofr_img"><img src="img/tourism_place_4.jpg"></div>
											</div>
											
											<div class="col-lg-8">
												<div class="part_ofr_txt">
													<div class="part_ofr_name">Capella Marigot Bay Resort &amp; Marina</div>
													<div class="part_ofr_city">MARIGOT BAY, ST.LUCIA</div>
													<div class="part_ofr_desc">Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен.</div>
													<div class="part_ofr_go"><a class="part_ofr_go_btn" href=""><span class="txt">Перейти на сайт</span><i class="fa fa-arrow-right"></i></a></div>
												</div>
											</div>
										</div>
									</div>
									<div class="part_ofr_it">
										<div class="row">
											<div class="col-lg-4">
												<div class="part_ofr_img"><img src="img/tourism_place_4.jpg"></div>
											</div>
											
											<div class="col-lg-8">
												<div class="part_ofr_txt">
													<div class="part_ofr_name">Capella Marigot Bay Resort &amp; Marina</div>
													<div class="part_ofr_city">MARIGOT BAY, ST.LUCIA</div>
													<div class="part_ofr_desc">Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен.</div>
													<div class="part_ofr_go"><a class="part_ofr_go_btn" href=""><span class="txt">Перейти на сайт</span><i class="fa fa-arrow-right"></i></a></div>
												</div>
											</div>
										</div>
									</div>
									<div class="part_ofr_it">
										<div class="row">
											<div class="col-lg-4">
												<div class="part_ofr_img"><img src="img/tourism_place_4.jpg"></div>
											</div>
											
											<div class="col-lg-8">
												<div class="part_ofr_txt">
													<div class="part_ofr_name">Capella Marigot Bay Resort &amp; Marina</div>
													<div class="part_ofr_city">MARIGOT BAY, ST.LUCIA</div>
													<div class="part_ofr_desc">Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен.</div>
													<div class="part_ofr_go"><a class="part_ofr_go_btn" href=""><span class="txt">Перейти на сайт</span><i class="fa fa-arrow-right"></i></a></div>
												</div>
											</div>
										</div>
									</div>
									<div class="part_ofr_it">
										<div class="row">
											<div class="col-lg-4">
												<div class="part_ofr_img"><img src="img/tourism_place_4.jpg"></div>
											</div>
											
											<div class="col-lg-8">
												<div class="part_ofr_txt">
													<div class="part_ofr_name">Capella Marigot Bay Resort &amp; Marina</div>
													<div class="part_ofr_city">MARIGOT BAY, ST.LUCIA</div>
													<div class="part_ofr_desc">Аксиома силлогизма, по определению, представляет собой неоднозначный предмет деятельности. Смысл жизни, следовательно, творит данный закон внешнего мира. Структурализм абстрактен.</div>
													<div class="part_ofr_go"><a class="part_ofr_go_btn" href=""><span class="txt">Перейти на сайт</span><i class="fa fa-arrow-right"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="part_ofr_pgnt">
									<ul class="pgnt_ls">
										<li class="ctrl disabled"><a href=""><i class="fa fa-angle-left"></i></a></li>
										<li class="active"><a href="">1</a></li>
										<li><a href="">2</a></li>
										<li><a href="">3</a></li>
										<li>...</li>
										<li><a href="">20</a></li>
										<li class="ctrl"><a href=""><i class="fa fa-angle-right"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--|========== Offer ==========|-->
			</div>
			
			
			<!--|=================================== Partner ===================================|-->
			<div class="partner_sec">
				<div class="container">
					<div class="partner_bnr_bx">
						<div class="partner_bnr">
							<div class="partner_bnr_it"><img src="img/home_partner_1.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_2.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_3.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_4.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_5.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_1.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_2.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_3.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_4.png"></div>
							<div class="partner_bnr_it"><img src="img/home_partner_5.png"></div>
						</div>
						
						<div class="partner_bnr_nav">
							<div class="partner_bnr_btn fx-c prev"><i class="fa fa-angle-left"></i></div>
							<div class="partner_bnr_btn fx-c next"><i class="fa fa-angle-right"></i></div>
						</div>
					</div>
				</div>
				<!--|========== Partner ==========|-->
			</div>
			
			
			<!--|********** Main **********|-->
		</main>
		
		
		
		<!--|************************************************** Footer **************************************************|-->
		<footer class="footer">
			<div class="container">
				<div class="foot_it_bx">
					<div class="foot_it">
						<div class="foot_logo_bx">
							<div class="foot_logo"><a href=""><img src="img/logo.png"></a></div>
							<div class="foot_logo_capt">Ветер Перемен. 2018. &copy; Все права сохранены.</div>
						</div>
					</div>
					
					<div class="foot_it">
						<ul class="foot_contact">
							<li><i class="fa fa-map-marker"></i><span class="txt">127427, Москва, ул. Академика Королева, <br> дом 15, корп. 2</span></li>
							<li><i class="fa fa-phone"></i><span class="txt">+8 (967) 291 8553 , +8 (495) 721 4114</span></li>
							<li><i class="fa fa-envelope"></i><span class="txt">veterperemen2019@mail.ru</span></li>
						</ul>
					</div>
					
					<div class="foot_it">
						<ul class="foot_menu">
							<li><a href="">Медицинский туризм</a></li>
							<li><a href="">Партнеры</a></li>
							<li><a href="">О компании</a></li>
							<li><a href="">Контакты</a></li>
						</ul>
					</div>
					
					<div class="foot_it">
						<div class="foot_scl_bx">
							<div class="foot_scl">
								<div class="foot_scl_txt">Мы в соц. сетях</div>
								<ul class="foot_scl_ls">
									<li><a href=""><i class="fa fa-facebook"></i></a></li>
									<li><a href=""><i class="fa fa-twitter"></i></a></li>
									<li><a href=""><i class="fa fa-instagram"></i></a></li>
									<li><a href=""><i class="fa fa-vk"></i></a></li>
								</ul>
							</div>
							
							<div class="foot_made">
								Создано в
								<a href="">Smart Outsourcing Solutions</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--|********** Footer **********|-->
		</footer>
		
		
		<!--|____________________ Anchor ____________________|-->
		<button class="anchor" type="button"><i class="fa fa-angle-up"></i><span class="txt">вверх</span></button>
		
		
		<!--|____________________ Modal Contact ____________________|-->
		<div class="modal fade base_modal" id="modalContact">
			<div class="modal-dialog">
				<div class="modal-content">
					<!--|=================================== Modal Core ===================================|-->
					<div class="base_modal_cnt core active">
						<form>
							
							
							<div class="base_modal_cls_bx">
								<button class="base_modal_cls" data-dismiss="modal"><i class="fa fa-times"></i></button>
							</div>
							
							<div class="base_modal_hd">
								<div class="base_modal_ttl">Свяжитесь с нами</div>
										<div class="title_line_bx base_modal_ttl_line">
											<div class="title_line"></div>
										</div>
								<p class="base_modal_ttl_capt">Внимание, все поля обязательны для заполнения. С вами свяжется наш менеджер.</p>
							</div>
							
							
							<div class="base_modal_bd">
								<div class="form-group">
									<label>Имя</label>
									<input class="cmt_leave_inp" type="text">
								</div>
								
								<div class="form-group">
									<label>Телефон</label>
									<input class="cmt_leave_inp" type="tel">
								</div>
								
								<div class="form-group">
									<label>Email</label>
									<input class="cmt_leave_inp" type="email">
								</div>
								
								<div class="form-group">
									<label>Направление</label>
									<div class="mdl_select">
										<select class="cmt_leave_inp">
											<option>Выберите направление</option>
											<option>Выберите направление</option>
											<option>Выберите направление</option>
										</select><i class="fa fa-angle-down"></i>
									</div>
								</div>
								
								<div class="form-group">
									<label>Цель отдыха</label>
									<div class="mdl_select">
										<select class="cmt_leave_inp">
											<option>Выберите направление</option>
										</select><i class="fa fa-angle-down"></i>
									</div>
								</div>
							</div>
							
							
							<div class="base_modal_ft">
										<button class="base_btn base_modal_btn border_red" type="submit" data-send-form="">Отправить заявку
										</button>
								<p class="base_modal_terms">Нажимая кнопку “Отправить заявку”, вы даете согласие на обработку ваших персональных данных.</p>
							</div>
						</form>
						<!--|========== Modal Core ==========|-->
					</div>
					
					
					<!--|=================================== Modal Thanks ===================================|-->
					<div class="base_modal_cnt thank">
						
						
						<div class="base_modal_cls_bx">
							<button class="base_modal_cls" data-dismiss="modal"><i class="fa fa-times"></i></button>
						</div>
						
						<div class="base_modal_thk_txt">
							<div class="base_modal_ttl thank">Спасибо за заявку!</div>
							<div class="base_modal_thk_info">Апостериори, гравитационный парадокс амбивалентно понимает под собой интеллигибельный знак. Наряду с этим ощущение мира контролирует непредвиденный гравитационный парадокс.</div>
							<div class="base_modal_thk_btn"><a class="base_btn base_modal_btn border_red thank" href="" data-dismiss="modal">Закрыть форму</a>
							</div>
						</div>
						
						
						<div class="base_modal_thk_img"><img src="img/form_submitted.png"></div>
						<!--|========== Modal Thanks ==========|-->
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<!--|************************************************** JavaScript Plugins **************************************************|-->
		
		<!--|____________________ Jquery ____________________|-->
		<script type="text/javascript" src="lib/jquery-3.2.1.min.js"></script>
		
		
		<!--|____________________ Libraries ____________________|-->
		<script type="text/javascript" src="lib/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="lib/owl_carousel/owl.carousel.min.js"></script>
		<script type="text/javascript" src="lib/slick/slick.min.js"></script>
		
		
		<!--|____________________ Scripts ____________________|-->
		<script type="text/javascript" src="js/custom.js"></script>
	</body>
</html>
